@import 'vars';

.link {
	font-family: $font400;
	font-size: 14px;
	line-height: 150%;
	color: inherit;
}

.nav_header {
	display: flex;
	color: #3f4e65;

	.link:not(:last-child) {
		border-right: 1px dashed #3f4e652c;
		padding-left: 30px;
		padding-right: 30px;
	}

	.link:last-child {
		padding-left: 30px;
	}
}

.nav_footer {
	display: flex;
	flex-direction: column;
	color: #fff;

	.link:not(:last-child) {
		margin-bottom: 20px;
	}
}
