@import 'vars';

.btn {
  cursor: pointer;
  background-color: #ffc85e;
  padding: 10px 19px;
  border-radius: 79px;
  display: flex;
  align-items: center;

  font-family: $font700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  color: #ffffff;

  img {
    margin-left: 5px;
  }
}

.unbtn {
  padding: 24px 24px;

  img {
    margin-left: 0px;
  }
}
