@import 'vars';

.basker {
  cursor: pointer;
  display: flex;
  align-items: center;

  &_top {
    position: relative;
  }

  &_notifications {
    position: absolute;
    right: -14px;
    top: -10px;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc85e;
    border: 3px solid #ffffff;
    padding: 3px;
    border-radius: 50%;

    font-family: $font700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }

  &_bottom {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
  }

  &_text {
    font-family: $font300;
    font-size: 12px;
    line-height: 150%;
    color: #3f4e65;
  }

  &_pice {
    font-family: $font600;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
  }
}
